<!doctype html>
<html lang="en">

<head>

    <title>My Blog Site</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i|Roboto+Slab:300,400"
        rel="stylesheet">

    {{!-- styling adapted from http://www.csszengarden.com/214/ --}}
    <link href="/myStyles.css" rel="stylesheet">

    {{!-- Links to implement Froala editor functionality --}}
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand navlink" href="/">My Blog Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                {{#if username}}
                <a class="nav-item nav-link navlink {{#if addPostPage}}active{{/if}}" href="/addPost">Add Post</a>
                {{/if}}
            </div>
            {{#if avatar}}
            <div class="imgContainer"><a href="/accountAndPosts"><img class="display" src="/default-avatars/{{avatar}}"></div></a>
            {{/if}}

            <div class="navbar-nav">
                {{#if username}}
                <a class="nav-item nav-link navlink" href="/accountAndPosts">{{username}}</a>
                <a class="nav-item nav-link navlink" href="/logout">Logout</a>
                {{else}}
                <a class="nav-item navlink nav-link" href="/login">Login</a>
                <a class="nav-item navlink nav-link" href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-9 col-sm-12">
                {{{body}}}
            </div>

            {{#if allArticles}}
            <div class="col-md-3 sidebar">
                <div class="card border-0 cardSidebar">
                    <div class="card-body">
                        <h4 class="card-title">Recent Posts</h4>
                        <ul>
                            {{#each sidebarLinks}}
                            <li><a class="articleLink" href="#">{{title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
            </div>
            {{/if}}
        </div>
    </div>

</body>

</html>