{{#if commentDeleted}}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    Your comment has been successfully deleted.
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                {{#with articles}}
                <h3 class="card-title" id="article-{{articleId}}">{{title}}</h3>
                <p><em>Posted by <strong>{{author}}</strong> on {{timestamp}}</em></p>
                <p class="card-text">{{{content}}}</p>
                {{#if video}}
                    <video controls width="650" loop muted>  
                        <source src="/uploads/multimedia/{{video}}" type="video/mp4">  
                        <source src="/uploads/multimedia/{{video}}" type="video/ogg"> 
                        <source src="/uploads/multimedia/{{video}}" type="video/webm">
                        Your browser does not support playback of this video.
                    </video>
                {{/if}}
                {{#if audio}}
                    <audio controls>  
                        <source src="/uploads/multimedia/{{audio}}" type="audio/mpeg">  
                        <source src="/uploads/multimedia/{{audio}}" type="audio/ogg"> 
                        <source src="/uploads/multimedia/{{audio}}" type="audio/wav"> 
                        Your browser does not support playback of this audio. 
                    </audio>
                {{/if}}
                {{/with}}

                {{#if isArticleAuthor}}
                <form class="form-inline float-right" action="/editPost" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="articleId" value="{{articles.articleId}}">
                        <button class="btn mx-1 btn-light">Edit</button>
                        <button class="btn mx-1 btn-light" formaction='/deletePost' type="submit"><em>Delete</em></button>
                    </div>
                </form>
                {{/if}}

            </div>
        </div>
    </div>
</div>


{{#if username}}
<div class="row">
    <div class="col-12">
        <div class="card my-2">
            <div class="card-body">
                <h4 class="card-title" id="commentsHeader">Leave a comment</h4>

                <form action="/addComment" method="POST">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{!-- <label for="content">Comment:</label> --}}
                                <textarea class="form-control" id="newComment" name="newComment" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group float-right">
                        <input type="hidden" name="articleId" value="{{articles.articleId}}">
                        <input type="hidden" name="username" value="{{username}}">
                        <input class="btn btn-light" type="submit" value="Submit">
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#each comments}}
<div class="row">
    <div class="col-12">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title" id="comment-{{commentId}}"><strong>{{author}}</strong> says: <span class="timestamp">{{timestamp}}</span></h5>
                <p class="card-text">{{content}}</p>

                {{#if isCommentAuthor}}
                <form class="form-inline float-right" action="/editComment" method="POST">
                <div class="form-group">
                    <input type="hidden" name="commentId" value="{{commentId}}">
                    <input type="hidden" name="articleId" value="{{articleId}}">
                    <button class="btn mx-1 btn-light" type="submit">Edit</button>
                    <button class="btn mx-1 btn-light" formaction="/deleteComment" type="submit"><em>Delete</em></button>
                </div>
                </form>
                {{else if isArticleAuthor}}
                <form class="form-inline float-right" action="/deleteComment" method="POST">
                <div class="form-group">
                    <input type="hidden" name="commentId" value="{{commentId}}">
                    <input type="hidden" name="articleId" value="{{articleId}}">
                    <button class="btn mx-1 btn-light" type="submit"><em>Delete</em></button>
                </div>
                </form>
                {{/if}}
                
            </div>
        </div>
    </div>
</div>
{{/each}}